<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/icon.png}">
</head>
<body class="bg-light">

<div class="container vh-100 d-flex justify-content-center align-items-center">

    <div class="card border-dark shadow p-4" style="width: 25rem;">

        <h2 class="text-center fw-bold mb-4">
            Restablecer Contraseña
        </h2>

        <p class="text-center text-muted small mb-4">
            Ingresá tu nueva contraseña.
        </p>

        <div th:if="${mensaje}"
             th:text="${mensaje}"
             class="alert alert-info text-center py-2 mb-3">
        </div>

        <form action="/usuarios/reset-password" method="post">

            <input type="hidden" name="token" th:value="${token}">

            <div class="mb-3">
                <label class="form-label">Nueva contraseña</label>
                <input type="password"
                       name="password"
                       class="form-control border-dark"
                       placeholder="Mínimo 8 caracteres"
                       minlength="8"
                       required>
            </div>


            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-dark">
                    Restablecer contraseña
                </button>
            </div>

        </form>

        <div class="text-center">
            <a href="/usuarios/login" class="text-dark text-decoration-none small">
                Volver a Iniciar Sesión
            </a>
        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
